PORT=5000

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.xxxxx.mongodb.net/AlphaLens?retryWrites=true&w=majority&appName=Cluster0

GROQ_API_KEY=your_groq_api_key

NEWS_API_KEY=your_news_api_key